@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "corporate";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(98% 0 0);
    --color-primary: oklch(49% 0.265 301.924);
    --color-primary-content: oklch(98% 0.026 102.212);
    --color-secondary: oklch(0.59 0.2145 16.2);
    --color-secondary-content: oklch(98% 0.019 200.873);
    --color-accent: oklch(59% 0.145 163.225);
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: oklch(20% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(75% 0.219 149.579);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
  }
  
  html, body {
    background-color: #0d0d0d;
  }
  

@keyframes float {
    0%, 100% {
      translate: 0 -20px;
    }
    50% {
      translate: 0 40px;
    }
  }